<ion-header>
  <ion-toolbar>
    <ion-title>Edit Match</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        Fecha inicial:
        <ion-datetime displayFormat="DD 'de' MMMM 'de' YYYY, HH:mm" [(ngModel)]="match.date"></ion-datetime>
    </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Cancha: 
        <ion-select [(ngModel)]="match.court" (ionChange)="onCourtChange($event)">
          <ion-select-option *ngFor="let court of courts" [value]="court.id">{{ court.name }}</ion-select-option>
        </ion-select>
    </ion-label>
    </ion-item>
  </ion-list>
  

  <ion-button expand="full" (click)="saveMatch()">Save</ion-button>
</ion-content>
