<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Jugador</ion-title>
    <ion-button slot="end" (click)="closeModal()">close</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="player.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input [(ngModel)]="player.lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="player.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="player.password" type="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="registerPlayer()">Registrar</ion-button>
</ion-content>
