<ion-header>
  <ion-toolbar>
    <ion-title>Cambiar contrseña</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Hazme el formulario para cambiar de contraseña en el que pida dos veces la contraseña -->
  <ion-list>
    <ion-item>
      <ion-label>Nueva contraseña: 
        <ion-input [(ngModel)]="password"></ion-input>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Repite la nueva contraseña: 
        <ion-input [(ngModel)]="password2"></ion-input>
      </ion-label>
    </ion-item>
  </ion-list>
  

  <ion-button expand="full" (click)="savePassword()">Save</ion-button>
</ion-content>

