<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button  *ngIf="isActive()" (click)="changePage('competition')" tab="competition">
          <ion-icon name="trophy"></ion-icon>
          <ion-label>Competition</ion-label>
        </ion-tab-button>

        <ion-tab-button  (click)="changePage('community')" tab="community">
          <ion-icon name="people"></ion-icon>
          <ion-label>Community</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="changePage('profile')" tab="profile">
          <ion-icon name="person"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-tab-button>

        <ion-tab-button *ngIf="isAdmin()" (click)="changePage('admin-configure')" tab="admin">
          <ion-icon name="settings"></ion-icon>
          <ion-label>Admin</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>