<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ranking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-custom-segment-button (segmentChanged)="onSegmentChanged($event)"></app-custom-segment-button>
  <app-ranking-item *ngIf="segmentValue === 'Ranking'" [player]="player" [ranking]="ranking" [league]="league"></app-ranking-item>
  <app-matches-item *ngIf="segmentValue === 'Partidos'" [player]="player"  [league]="league" [type]="'Competitive'"></app-matches-item>
</ion-content>

<app-custom-tabs></app-custom-tabs>