<ion-header>
  <ion-toolbar>
    <ion-title>Edit League</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Name: 
        <ion-input [(ngModel)]="league.name"></ion-input>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ascent: 
        <ion-input [(ngModel)]="league.ascent"></ion-input>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Descent
        <ion-input [(ngModel)]="league.descent"></ion-input>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Duration: 
        <ion-input [(ngModel)]="league.duration"></ion-input>
      </ion-label>
    </ion-item>
  </ion-list>
  

  <ion-button expand="full" (click)="saveLeaguer()">Save</ion-button>
</ion-content>

