<ion-header>
  <ion-toolbar>
    <ion-title>Edit League</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Nombre: 
        <ion-input [(ngModel)]="league.name"></ion-input>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ascensos: 
        <ion-input [(ngModel)]="league.ascent"></ion-input>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Descensos:
        <ion-input [(ngModel)]="league.descent"></ion-input>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Duracion (meses): 
        <ion-input [(ngModel)]="league.duration"></ion-input>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Fecha inicial:</ion-label>
      <ion-datetime displayFormat="DD 'de' MMMM 'de' YYYY, HH:mm" [(ngModel)]="league.startDate"></ion-datetime>
    </ion-item>
  </ion-list>
  

  <ion-button expand="full" (click)="saveLeaguer()">Save</ion-button>
</ion-content>

